
* {
   
    margin: 0;
    padding: 0;
    font-weight: 300;
}

/*设置背景属性*/

.bj{

 position: fixed;  /*将图片固定，不随页面滚动*/

 opacity: 1;  /*修改透明度*/

 height: 100%;

 width: 100%;

 z-index: -1;  /*将图片放在最底层*/

}


.main{
	text-align: center;
	border-radius:20px;
	width: px;
	height: px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}


